.topFooter {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  padding: 50px 0;
  border-bottom: 1px solid lightgray;
}

.topFooter .left h2 {
  font-size: 3rem;
  font-family: "EB Garamond", serif;
  font-weight: lighter;
  font-size: 3.8rem;
}

.topFooter .left p {
  color: grey;
  font-family: "Gordita", sans-serif;
}

.topFooter .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topFooter .right a {
  padding: 15px 25px;
  font-family: "Gordita", sans-serif;
  border-radius: 6px;
  text-decoration: none;
}

.topFooter .right .look {
  /* border: none; */
  border: 3px solid;
  margin-right: 30px;
  color: #00b454;
  background-color: #f4faf7;
  border-color: #00b454;
  box-shadow: none;
  outline: none;
}

.topFooter .right .post {
  /* border: none; */
  border: 3px solid;
  margin-right: 30px;
  color: white;
  background-color: #00b454;
  border-color: #00b454;
  box-shadow: none;
  outline: none;
}

.topSection {
  background-color: #f4faf7;
}

/* Footer Bottom */

.lists {
  padding: 50px 0 100px 0;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
}

.footerLogo {
  display: flex;
  justify-content: center;
}

.footerLogo h3 {
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  font-weight: lighter;
  margin-top: -10px;
  margin-left: 10px;
}

.footerLists li {
  list-style: none;
  margin-top: 20px;
  color: grey;
}

.newsletter .joinLabel {
  margin: 20px 0;
}

.newsletter input {
  padding: 15px 15px;
  width: 250px;
  font-family: "Gordita", sans-serif;
  border: none;
  border-radius: 10px;
  background-color: white;
}

.newsletterWrapper {
  border: 1px solid #f4faf7;
  border-radius: 10px;
  display: inline-block;
  padding: 0px 10px;
  background-color: white;
}

.newsletterWrapper input,
.newsletterWrapper button {
  background-color: white;
  border: 0;
}

.newsletterWrapper button {
  background-color: #244034;
  padding: 10px;
  color: white;
  border-radius: 6px;
}

.newsletter .newsletterEmailMessage {
  margin-top: 10px;
  color: #979797;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px 0;
}

.bottomLinks {
  display: flex;
}

.bottomLinks p {
  margin-right: 20px;
  font-weight: bold;
}

.icons svg {
  margin-left: 20px;
}

.copyright {
  color: #979797;
}

@media (max-width: 1220px) {
  .topSection .topFooter,
  .topSection .lists {
    margin: 50px;
  }
}

@media (max-width: 1120px) {
  .topSection .topFooter {
    display: flex;
    flex-direction: column;
  }

  .topSection .topFooter .right {
    justify-content: start;
    margin-top: 20px;
  }
}

@media (max-width: 850px) {
  .topSection .lists {
    display: flex;
    flex-direction: column;
  }

  .topSection .lists .Products .footerLists,
  .topSection .lists .Links .footerLists,
  .topSection .lists .Legal .footerLists {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin: 20px 0px;
  }
  .topSection .lists .Products .footerLists li,
  .topSection .lists .Links .footerLists li,
  .topSection .lists .Legal .footerLists li {
    margin: 0px;
  }
}

@media (max-width: 560px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 20px 0px; */
    padding-top: 0px;
    gap: 15px;
  }
}

@media (max-width: 500px) {
  .topSection .topFooter .left h2 {
    font-size: 2rem;
  }

  .topSection .topFooter .right {
    display: flex;
    flex-direction: column;
  }

  .topSection .topFooter .right a {
    font-size: 0.9rem;
    padding: 10px;
    /* margin-right: 20px; */
    margin: 10px 0px;
  }
}

@media (max-width: 440px) {
  .newsletter .newsletterWrapper {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .newsletter .newsletterWrapper input {
    width: 100%;
  }
  .newsletter .newsletterWrapper button {
    padding: 5px 10px;
    height: 40px;
  }
}
