/* /////////FULL SECTION STYLING////////////// */
.quoteSection {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: space-between;
}

/* ////////////////CENTER DIV STYLING/////////// */

.quoteCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quoteCenter svg {
  box-sizing: content-box;
  padding-bottom: 30px;
}

.quoteCenter h2 {
  font-family: "EB Garamond", sans-serif;
  font-size: 3.5rem;
  color: #005025;
  text-align: center;
  line-height: 65px;
  font-weight: 700;
  padding-bottom: 30px;
}

.quoteCenter h3 {
  font-family: "Gordita", sans-serif;
  line-height: 50px;
  font-weight: lighter;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 30px;
}

.quoteCenter .quoteLine {
  padding: 0;
  padding-right: 15px;
}

.quoteWriter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.quoteWriter p {
  font-weight: bold;
}

.quoteWriter p span {
  font-weight: normal;
  color: gray;
}

/* carousel */

#quoteWrapper {
  width: 100%;
  max-width: 1000px;
  position: relative;
}

#quoteCarousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#quoteCarousel::-webkit-scrollbar {
  height: 0;
}

#quoteContent {
  display: grid;
  /* grid-gap: 16px; */
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
  margin-top: 30px;
}

.quote {
  /* width: 100%; */
  width: 1000px;
  position: relative;
}

/*////////////////IMAGES AT THE BOTTOM/////////// */

.portrait {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.quoteActive {
  border: 5px solid green;
}

.quoteImages {
  /* width: 75%; */
  width: 500px;
  display: flex;
  justify-content: space-between;
}

/* ///////////////ARROWS TO THE SIDE///////////// */

.leftArrow,
.rightArrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .leftArrow svg {
  box-sizing: content-box;
  padding: 10px 15px;
  border: 1px solid grey;
  border-radius: 50%;
} */

.leftArrow button,
.rightArrow button {
  box-sizing: content-box;
  padding: 10px 16px;
  border: 1px solid grey;
  border-radius: 50%;
  cursor: pointer;
}

.leftArrow button,
.rightArrow button {
  /* padding: 5px 10px; */
  color: #005025;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
}

.leftArrow button:hover,
.rightArrow button:hover {
  background-color: #00bf58;
}

.leftArrow button:active,
.rightArrow button:active {
  transform: scale(0.9);
}

.leftArrow button:hover path,
.rightArrow button:hover path {
  stroke: white;
}

/* .rightArrow svg {
  box-sizing: content-box;
  padding: 10px 15px;
  border: 1px solid #00bf58;
  border-radius: 50%;
  background-color: #00bf58;
} */
