.trendingFirst {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 50px;
}

.trendingTitle {
  display: flex;
  justify-content: space-between;
}

.trendingTitle h2 {
  color: #005025;
  font-family: "EB Garamond", serif;
  font-size: 3rem;
}

.trendingButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.trendingButton button {
  padding: 5px 10px;
  color: #005025;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
}

.trendingButton button:hover {
  background-color: #00bf58;
}

.trendingButton button:active {
  transform: scale(0.9);
}

.trendingButton button:hover path {
  stroke: white;
}

.trending-button .firstButton {
  background-color: white;
}

#prev,
#next {
  cursor: pointer;
}

/* /////////////// list of services /////////////// */

/* .imageList {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
} */

#serviceWrapper {
  width: 100%;
  max-width: 1200px;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
  margin-top: 30px;
}

.imageBox {
  /* width: 23%; */
  width: 288px;
  height: 320px;
  /* background-color: lightblue; */
  position: relative;
  cursor: pointer;
}

.imageBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  opacity: 1;
  z-index: 1;
}

.imageBox p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-family: "Gordita", sans-serif;
  z-index: 2;
}

.imageBox p span {
  display: block;
}

.wordpress {
  background-image: url(../../Assets/wordpress.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.editing {
  background-image: url(../../Assets/editing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.branding {
  background-image: url(../../Assets/design.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.support {
  background-image: url(../../Assets/customerSupport.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.network {
  background-image: url(../../Assets/network.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.printing {
  background-image: url(../../Assets/managedprint.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.consulting {
  background-image: url(../../Assets/consulting.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cloud {
  background-image: url(../../Assets/cloud.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* ///////////Explore the marketplace/////////////// */

.marketplaceTitle {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  margin-top: 100px;
}

.marketplaceTitle h2 {
  font-family: "EB Garamond", sans-serif;
  font-size: 2.6rem;
  color: #005025;
}

.marketplaceTitle a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gordita", sans-serif;
  font-weight: bold;
  color: #00ba56;
  margin-top: 7px;
  padding-bottom: 7px;
  /* border-bottom: 2px solid #00ba56;  */
}

.marketplaceTitle a:hover {
  /* padding-bottom: 7px; */
  border-bottom: 2px solid #00ba56;
  transition: 0.3s ease-in-out;
}

.marketplaceTitle a svg {
  margin-left: 7px;
  margin-bottom: -5px;
}

/* ///////////////////Explore list //////////////////////// */

.exploreList {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 50px;
}

.exploreList ul {
  display: flex;
  justify-content: space-between;
}

.exploreList ul li {
  list-style: none;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 50px 40px;
  justify-content: space-between;
  border-radius: 60px;
  cursor: pointer;
}

/* .exploreList ul .exploreListOne {
  border: 1px solid #00ba56;
} */
.exploreList ul li:hover {
  border: 1px solid #00ba56;
  transform: scale(1.05);
}

.exploreList ul li img {
  width: 25px;
  margin-bottom: 40px;
}

.exploreList ul li h4 {
  margin-bottom: 40px;
  font-family: "Gordita", sans-serif;
  color: #005025;
}

.exploreList ul li p {
  font-family: "Gordita", sans-serif;
  color: rgba(95, 94, 94, 0.555);
}

@media (max-width: 1230px) {
  .trendingTitle {
    width: 800px;
    margin: 0 auto;
  }

  #serviceWrapper {
    max-width: 800px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: 0 auto;
  }

  /* #carousel {
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  .imageBox {
    width: 200px;
    height: 220px;
  }

  .marketplaceTitle {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .exploreList {
    width: 800px;
  }

  .exploreList ul li:nth-child(5),
  .exploreList ul li:nth-child(6) {
    display: none;
  }
}

@media (max-width: 800px) {
  .trendingTitle,
  #serviceWrapper {
    width: 600px;
    margin: 0 auto;
  }

  .marketplaceTitle {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .exploreList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    width: 500px;
  }

  .exploreList ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .exploreList ul li {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .trendingTitle,
  #serviceWrapper {
    width: 400px;
    margin: 0 auto;
  }

  .trendingTitle h2 {
    font-size: 1.5rem;
  }

  .marketplaceTitle {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .marketplaceTitle h2,
  .marketplaceTitle a {
    font-size: 1.5rem;
  }
  .marketplaceTitle a {
    font-size: 1rem;
  }

  .exploreList {
    width: 400px;
  }

  .exploreList ul li {
    width: 150px;
    height: 200px;
    font-size: 0.8rem;
  }
  .exploreList ul li h4,
  .exploreList ul li img {
    margin: 5px 0;
    font-size: 10px;
    /* padding: ; */

    text-align: center;
  }
}

@media (max-width: 400px) {
  .trendingTitle,
  #serviceWrapper {
    width: 300px;
    margin: 0 auto;
  }

  .imageBox {
    width: 150px;
    height: 180px;
  }

  .imageBox p {
    font-size: 16px;
  }

  .marketplaceTitle {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  /* 
  .marketplaceTitle h2,
  .marketplaceTitle a {
    font-size: 16px;
  } */

  .exploreList {
    width: 300px;
  }

  .exploreList ul {
    gap: 10px;
  }

  .exploreList ul li {
    width: 140px;
    height: 200px;
    font-size: 10px;
    /* width: 100%; */
  }
}
