.filter {
  margin-top: 50px;
  margin-bottom: 50px;
}

.filterContainer {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #eff6f3;
  padding: 20px 50px;
  border-radius: 20px;
}

.filterHeaderSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
  font-family: "Gordita", sans-serif;
}

.filterButtonContainer {
  background-color: white;
  padding: 5px 10px;
  border-radius: 50%;
}

.filterSearchSection {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.filterbox {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.filterbox label {
  padding-bottom: 15px;
  font-family: "Gordita", sans-serif;
}

.keywordInputContainer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: 7px;
}

.keywordInputContainer input {
  border: none;
}

.filterSelect {
  border: none;
  padding: 10px 10px;
  border-radius: 7px;
}

/* //////////////////// BOTTOM CHECKBOXES //////////////////*/

.checkboxes {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.jobtype,
.experience,
.salary {
  display: flex;
}

.jobtype label {
  padding-right: 20px;
  font-family: "Gordita", sans-serif;
  font-size: 0.8rem;
}

.jobtype form label,
.jobtype form input {
  margin-bottom: 15px;
}
.jobtype form input {
  margin-right: 10px;
}

.experience label {
  padding-right: 20px;
  font-family: "Gordita", sans-serif;
  font-size: 0.8rem;
}

.experience form label,
.experience form input {
  margin-bottom: 15px;
}
.experience form input {
  margin-right: 10px;
}

/* ///////Salary Section////////////////// */

.salary {
  width: 40%;
}
.salary label {
  padding-right: 20px;
  width: 40%;
  font-family: "Gordita", sans-serif;
  font-size: 0.8rem;
}

.numberInputFields {
  display: flex;
  padding-bottom: 15px;
}

.numberInputFields p {
  padding: 0 5px;
}

.numberInputFields input {
  width: 60px;
}

.salarySecond {
  width: 100%;
}

.range {
  width: 100%;
}
