/* ////////////////////////SEARCH SECTION////////////////////////////// */

.center-search {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 200px;
  justify-content: space-between;
}

.center-search .left,
.center-search .right {
  width: 50%;
}

/* ////////////////////////////POSTER ONE/////////////////////////////// */

.posterOne {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 100px;
  /* height: 630px; */
  margin-top: 200px;
}

.posterOne .left {
  background-color: #614137;
  padding: 45px;
  width: 55%;
}

.posterOne .left h4 {
  color: #00bf58;
  font-family: "Gordita", sans-serif;
}

.posterOne .left h2 {
  color: white;
  font-family: "EB Garamond", sans-serif;
  font-size: 3.5rem;
  line-height: 60px;
}
.posterOne .left h2 span {
  color: #dfa79c;
}

.posterOne .left .posterone-paragraph {
  color: white;
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid grey;
  width: 80%;
}

.posterOne .left ul {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.posterOne .left ul li {
  list-style: none;
}

.posterOne .left ul li h3 {
  color: white;
  font-family: "Gordita", sans-serif;
}

.posterOne .left ul li p {
  color: rgba(255, 255, 255, 0.39);
}

.posterOne .left button {
  border: none;
  background-color: #00bf58;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-family: "Gordita", sans-serif;
  margin-bottom: 30px;
}

.posterOne .right {
  background-image: url("../Assets/person-center.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 45%;
}

/* ////////////////////////////POSTER TWO/////////////////////////////// */

.posterTwo {
  margin: 0 auto;
  max-width: 1200px;
  /* background-color: grey; */
  background-image: url("../Assets/poster2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.posterTwo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
  opacity: 1;
  z-index: 1;
}

.posterTwo .main {
  display: flex;
  justify-content: flex-end;
}

.posterTwo .main .inner-main-container {
  width: 40%;
  z-index: 2;
}

.inner-main-container {
  padding-top: 50px;
}

.inner-main-container svg {
  box-sizing: content-box;
  padding: 15px 20px;
  margin-left: 5px;
}

.inner-main-container .svg-container {
  width: fit-content;
  background-color: #00bf58;
  border-radius: 50%;
}

.inner-main-container h2 {
  color: white;
  font-family: "EB Garamond", sans-serif;
  font-size: 3.5rem;
  padding-top: 20px;
}

.inner-main-container h2 span {
  color: #00bf58;
}

.inner-main-container p {
  font-family: "Gordita", sans-serif;
  color: white;
  font-weight: lighter;
  padding-top: 20px;
  padding-bottom: 100px;
}

/* //////////POSTER TWO LIST SECTION//////// */

.posterTwo .steps {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.4);
}

.posterTwo .steps ul {
  display: flex;
  justify-content: space-around;
}

.posterTwo .steps ul li {
  list-style: none;
  display: flex;
  padding: 0 10px;
  z-index: 2;
}

.steps ul li p {
  color: white;
  background-color: #00bf58;
  height: fit-content;
  width: fit-content;
  padding: 2px 10px;
  border-radius: 50%;
  margin-right: 20px;
  font-family: "Gordita", sans-serif;
}

.steps ul li h3 {
  color: white;
  font-family: "Gordita", sans-serif;
}

.steps ul li h5 {
  color: #00bf58;
  font-family: "Gordita", sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-top: 20px;
}
