/* ////////////////COLLAB POSTER////////////// */

.collab-poster {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #29503d;
  padding: 80px 40px;
}

.collab-img-left {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collab-img-left h2 {
  font-family: "EB Garamond", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 60px;
  padding-bottom: 30px;
}

.collab-img-left p {
  font-family: "Gordita", sans-serif;
  font-weight: lighter;
  line-height: 30px;
  padding-bottom: 30px;
}

.collab-img-left button {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: #00bf58;
  font-family: "Gordita", sans-serif;
  width: fit-content;
}

.collab-img-right {
  position: relative;
}

.circle {
  position: absolute;
}

.circle1 {
  left: 0px;
  right: 0px;
  top: 190px;
  bottom: 0px;
}

.circle2 {
  left: 260px;
  right: 0px;
  top: 240px;
  bottom: 0px;
}

.circle3 {
  left: 220px;
  right: 0px;
  top: -45px;
  bottom: 0px;
}

.circle5 {
  left: 350px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.circle6 {
  left: 130px;
  right: 0px;
  top: 50px;
  bottom: 0px;
}

.circle-text {
  position: absolute;
  left: 400px;
  right: 0px;
  top: 130px;
  bottom: 0px;
}

.circle-text h3 {
  color: #00bf58;
  font-family: "EB Garamond", sans-serif;
  font-size: 3rem;
}
.circle-text p {
  color: white;
  font-family: "Gordita", sans-serif;
  width: 200px;
}

.collab-logo {
  position: absolute;
  z-index: 3;
}

.two-circles-collab-logo {
  display: flex;
  position: absolute;
}

.collab-logo-circle1 {
  position: absolute;
  left: 185px;
  right: 0px;
  top: 100px;
  bottom: 0px;
}
.collab-logo-circle2 {
  position: absolute;
  left: 200px;
  right: 0px;
  top: 100px;
  bottom: 0px;
}

.collab-logo h3 {
  position: absolute;
  left: 189px;
  right: 0px;
  top: 136px;
  bottom: 0px;
  font-family: "EB Garamond", sans-serif;
  font-size: 1.5rem;
}

.collab-img-right img {
  width: 30px;
  position: absolute;
}

.collab-img-right .slack {
  top: 255px;
  left: 275px;
  bottom: 0;
  right: 0;
  width: 50px;
}

.collab-img-right .microsoft {
  top: 24px;
  left: 24px;
  bottom: 0;
  right: 0;
  width: 40px;
}

.collab-img-right .twitter {
  top: -30px;
  left: 235px;
  bottom: 0;
  right: 0;
  width: 26px;
}

.collab-img-right .instagram {
  top: 27px;
  left: 379px;
  bottom: 0;
  right: 0;
  width: 30px;
}
.collab-img-right .messenger {
  top: 198px;
  left: -2px;
  bottom: 0;
  right: 0;
  width: 75px;
}

/* ///////////TRENDING SKILLS LIST/////////////// */

.trendingSkillsList {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 200px;
}

.bottom-trending-list li {
  margin-top: 15px;
  list-style: none;
  font-family: "Gordita", sans-serif;
  font-size: 14px;
}

.trendingSkillsList h3 {
  margin-bottom: 25px;
  font-family: "Gordita", sans-serif;
}

.trendingSkillsList .trend-main {
  color: #00bf58;
}
