/* /////////FULL SECTION STYLING////////////// */
.quoteSection {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: space-between;
}

/* ////////////////CENTER DIV STYLING/////////// */

.quote-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-center svg {
  box-sizing: content-box;
  padding-bottom: 30px;
}

.quote-center h2 {
  font-family: "EB Garamond", sans-serif;
  font-size: 3.5rem;
  color: #005025;
  text-align: center;
  line-height: 65px;
  font-weight: 700;
  padding-bottom: 30px;
}

.quote-center h3 {
  font-family: "Gordita", sans-serif;
  line-height: 50px;
  font-weight: lighter;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 30px;
}

.quote-center .quote-line {
  padding: 0;
  padding-right: 15px;
}

.quote-writer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.quote-writer p {
  font-weight: bold;
}

.quote-writer p span {
  font-weight: normal;
  color: gray;
}

/*////////////////IMAGES AT THE BOTTOM/////////// */


.portrait {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.quote-images {
  width: 75%;
  display: flex;
  justify-content: space-between;
}



/* ///////////////ARROWS TO THE SIDE///////////// */

.left-arrow,
.right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow svg {
  box-sizing: content-box;
  padding: 10px 15px;
  border: 1px solid grey;
  border-radius: 50%;
}

.right-arrow svg {
  box-sizing: content-box;
  padding: 10px 15px;
  border: 1px solid #00bf58;
  border-radius: 50%;
  background-color: #00bf58;
}
